* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  background-color: #2B2B2B;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
}
header .nav-menu {
  width: 607px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
}
header .nav-menu .nav-link {
  text-decoration: none;
  color: #FFFFFF;
}
header .nav-menu button {
  background-color: #A259FF;
  border: #A259FF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 60px;
  border-radius: 20px;
  gap: 12px;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.cover-profile-image .avatar {
  margin-top: -70px;
  margin-left: 115px;
  border: 2px solid #2B2B2B;
  border-radius: 20px;
}

.Artist-Info {
  padding: 40px 115px;
  color: #FFFFFF;
}
.Artist-Info .artist-info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Artist-Info .artist-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Artist-Info .artist-info h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 51px;
  line-height: 56px;
}
.Artist-Info .artist-info .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 510px;
}
.Artist-Info .artist-info h4 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
}
.Artist-Info .artist-info .subhead {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
}
.Artist-Info .artist-info h5 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  color: #858584;
}
.Artist-Info .artist-info .bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Artist-Info .artist-info .web-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Artist-Info .artist-info .web-links .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Artist-Info .artist-info .web-links .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Artist-Info .artist-info .web-links .icons button {
  background-color: transparent;
  border: none;
}
.Artist-Info .CTAs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Artist-Info .CTAs .first-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 186px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  border: solid #A259FF;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.Artist-Info .CTAs .second-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  gap: 12px;
  width: 145px;
  height: 60px;
  border: 2px solid #A259FF;
  border-radius: 20px;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.line {
  border: 1px solid #3B3B3B;
}

.head {
  display: flex;
  flex-direction: row;
  padding: 10px 115px 0px 115px;
  color: #FFFFFF;
}
.head .tab-1 {
  border-bottom: 2px solid #858584;
}
.head .tab-1 .number-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 32px;
  background: #858584;
  border-radius: 20px;
}
.head .tab-1,
.head .tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  gap: 16px;
  width: 350px;
  height: 60px;
}
.head h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
}
.head .number-1,
.head .number {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.head .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 32px;
  background: #3B3B3B;
  border-radius: 20px;
}

.NFT-cards-section {
  padding: 80px 115px;
  color: #FFFFFF;
  background-color: #3B3B3B;
}
.NFT-cards-section .NFT-cards-rows {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.NFT-cards-section .NFT-cards-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.NFT-cards-section .NFT-card {
  display: flex;
  flex-direction: column;
}
.NFT-cards-section .NFT-card .NFT-info {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 25px;
  gap: 25px;
  border-radius: 0px 0px 20px 20px;
  background-color: #2B2B2B;
}
.NFT-cards-section .NFT-card .NFT-info .artist-info {
  gap: 5px;
}
.NFT-cards-section .NFT-card .NFT-info .artist-info h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
}
.NFT-cards-section .NFT-card .NFT-info .artist-info .artist-avatar-name {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.NFT-cards-section .NFT-card .NFT-info .additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.NFT-cards-section .NFT-card .NFT-info .additional-info .price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.NFT-cards-section .NFT-card .NFT-info .additional-info .highest-bid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.NFT-cards-section .NFT-card .NFT-info .additional-info .top {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #858584;
}
.NFT-cards-section .NFT-card .NFT-info .additional-info .bottom {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #3B3B3B;
  padding: 40px 115px;
  gap: 31px;
  border-top: 2px solid #2B2B2B;
}
footer .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .NFT-marketplace-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #CCCCCC;
}
footer .additional-info {
  width: 238px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .additional-info .community-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .additional-info .community-info .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer .additional-info .community-info .icons button {
  background-color: transparent;
  border: none;
}
footer .explore {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .explore h5 {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  line-height: 35px;
  color: #FFFFFF;
}
footer .explore .pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .explore .nav-link {
  text-decoration: none;
  color: #CCCCCC;
}
footer .subscribe {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .subscribe h5 {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  line-height: 35px;
  color: #FFFFFF;
}
footer .subscribe .subscribe-form-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #CCCCCC;
}
footer .subscribe .info {
  padding-right: 150px;
}
footer .subscribe .subscribe-form {
  display: flex;
  flex-direction: row;
  gap: 0px;
  height: 60px;
  border-radius: 20px;
  background-color: white;
}
footer .subscribe .email {
  width: 241px;
  display: flex;
  align-items: center;
  color: #2B2B2B;
  padding-left: 20px;
  padding-right: 12px;
}
footer .subscribe input {
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
}
footer .subscribe button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
  width: 179px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background: #A259FF;
  border-radius: 20px;
  border: #A259FF;
  color: #FFFFFF;
}

.frame {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.frame .divider {
  border: 1px solid #858584;
}
.frame .end {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  line-height: 13px;
  color: #CCCCCC;
}/*# sourceMappingURL=artist-page.css.map */